<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.6.1" targetFramework="net462" />
  <package id="Autofac.WebApi2" version="4.0.0" targetFramework="net462" />
  <package id="CommandLineParser" version="1.9.71" targetFramework="net451" />
  <package id="Dapper" version="1.42" targetFramework="net451" />
  <package id="Framework.Authentication.Dto" version="1.3.5" targetFramework="net462" />
  <package id="Framework.Authentication.Wrapper" version="1.2.9" targetFramework="net462" />
  <package id="Framework.Database" version="1.6.8.0" targetFramework="net462" />
  <package id="Framework.Database.Testing" version="1.0.8.0" targetFramework="net462" />
  <package id="Framework.WebApi.Core" version="1.9.21" targetFramework="net462" />
  <package id="Framework.WebApi.Core.HttpClient" version="1.1.7" targetFramework="net462" />
  <package id="Framework.WebApi.DtoAndContract" version="1.15.7" targetFramework="net462" />
  <package id="Framework.WebApi.Testing" version="1.1.17.0" targetFramework="net462" />
  <package id="Framework.WebApi.Trace.Lib" version="1.0.6.0" targetFramework="net462" />
  <package id="log4net" version="2.0.5" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.4" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.4" targetFramework="net462" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net451" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net451" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net462" />
  <package id="Option" version="3.0.1" targetFramework="net451" />
  <package id="PWDTK" version="2.0.0.2" targetFramework="net462" />
  <package id="stubbydll" version="1.2.0.0" targetFramework="net451" />
  <package id="Swashbuckle.Core" version="5.6.0" targetFramework="net462" />
  <package id="TinyMapper" version="2.0.8" targetFramework="net462" />
  <package id="YamlDotNet.Core" version="2.2.0" targetFramework="net451" />
  <package id="YamlDotNet.RepresentationModel" version="2.2.0" targetFramework="net451" />
</packages>