<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <apikeys>
    <add key="http://nuget.org/api/v2/package" value="0c673f56-fdf8-407f-893e-58d49cdea221" />
  </apikeys>
  <packageSources>
    <add key="NuGet official package source" value="http://nuget.org/api/v2/" />    
  </packageSources>
</configuration>